<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://ninjaui.netlify.app/components/component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>

    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <div class="nav-container">
        <nav class="nav-bar">
            <div class="nav-title"><a href="/index.html">Empire Men's Wear</a></div>
            <div class="search-div">
              <button class="nav-icon"><i class='bx bx-search-alt-2'></i></button>
              <input class="searchbar" type="text">
            </div>
           <a href="/components/login/login.html"><button class="nav-icon"><i class='bx bxs-user'></i></button></a>
           <a href="/components/wishlist/wishlist.html"> <button class="nav-icon"><i class='bx bxs-heart'></i></button></a>
            <a href="/components/cart/cart.html"><button class="nav-icon"><i class='bx bxs-cart'></i></button></a>
        </nav>   
    </div>
        <h1 class="description">Cart(4)</h1>
        <div class="main-content">
            <div class="card-container">
            <div class=" card card__vertical">
                <div class="image-container-vert">
                    <img class="img responsive-image"
                        src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="hoodie">
                    <i class='bx bxs-heart wishlist-icon-vert'></i>

                </div>
                <div class="text-btn-container">
                    <div class="text-container vertical-text">
                        <p class="quiet">Essential</p>
                        <h4 class="card-title">Men's White T-Shirt</h4>
                        <p>Men's Wear <span> | Sold by: H&M</span> </p>
                        <h6><strong>$100 </strong><strike>$200</strike></h6>
                    </div>
                    <div class="btn-container cta-btn">
                        <a class="btn btn-primary-solid">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class=" card card__vertical">
                <div class="image-container-vert">
                    <img class="img responsive-image"
                        src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="hoodie">
                    <i class='bx bxs-heart wishlist-icon-vert'></i>

                </div>
                <div class="text-btn-container">
                    <div class="text-container vertical-text">
                        <p class="quiet">Essential</p>
                        <h4 class="card-title">Men's White T-Shirt</h4>
                        <p>Men's Wear <span> | Sold by: H&M</span> </p>
                        <h6><strong>$100 </strong><strike>$200</strike></h6>
                    </div>
                    <div class="btn-container cta-btn">
                        <a class="btn btn-primary-solid">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class=" card card__vertical">
                <div class="image-container-vert">
                    <img class="img responsive-image"
                        src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="hoodie">
                    <i class='bx bxs-heart wishlist-icon-vert'></i>

                </div>
                <div class="text-btn-container">
                    <div class="text-container vertical-text">
                        <p class="quiet">Essential</p>
                        <h4 class="card-title">Men's White T-Shirt</h4>
                        <p>Men's Wear <span> | Sold by: H&M</span> </p>
                        <h6><strong>$100 </strong><strike>$200</strike></h6>
                    </div>
                    <div class="btn-container cta-btn">
                        <a class="btn btn-primary-solid">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class=" card card__vertical">
                <div class="image-container-vert">
                    <img class="img responsive-image"
                        src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="hoodie">
                    <i class='bx bxs-heart wishlist-icon-vert'></i>

                </div>
                <div class="text-btn-container">
                    <div class="text-container vertical-text">
                        <p class="quiet">Essential</p>
                        <h4 class="card-title">Men's White T-Shirt</h4>
                        <p>Men's Wear <span> | Sold by: H&M</span> </p>
                        <h6><strong>$100 </strong><strike>$200</strike></h6>
                    </div>
                    <div class="btn-container cta-btn">
                        <a class="btn btn-primary-solid">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="cart-page__cart-price">
                <h4>Price Info</h4>
                <div class="cart-price">
                  <div class="cart-price__item">
                    <span> Total Price</span>
                    <span>800</span>
                  </div>
                  <div class="cart-price__item">
                    <span> Discount </span>
                    <span>100</span>
                  </div>
                  <div class="cart-price__item">
                    <span>Price After Discount </span>
                    <span>700</span>
                  </div>
                  <div class="cart-price__button">
                    <button class="btn btn-primary-solid">Buy Now</button>
                </div>
                </div>
              </div>
           </div> 
           
</body>
</html>