<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empire Men's Wear</title>
    <link rel="stylesheet" href="https://ninjaui.netlify.app/components/component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>

    <link rel="stylesheet" href="signup.css">
</head>
<body>
      <div class="nav-container">
        <nav class="nav-bar">
            <div class="nav-title">Empire Men's Wear</div>
            <button class="nav-icon"><i class='bx bxs-user'></i></button>
            <button class="nav-icon"><i class='bx bxs-heart'></i></button>
            <button class="nav-icon"><i class='bx bxs-cart'></i></button>
        </nav>   
    </div>
    <div class="main-content"> 
        <h1 class="description">SignUp</h1>
        <form class="auth-form">
            
            <input class="input" placeholder="Name" type="name" id="name" name="name">
            <input class="input" placeholder="Email" type="email" id="email" name="email" required>
            <input class="input" placeholder="Mobile Number" type="number" id="number" name="number" required>
            <input class="input" placeholder="Password" type="password" id="password" name="password" required>
        </form> 
      <div class="btn-container">
          <button class="btn btn-primary-solid">SignUp</button>
      </div>
      <p class="auth-text">Already a member? <span><a href="/components/login/login.html">Login</a></span> here.</p>
  </div>
         
</body>
</html>